.cinemasystem {
  padding: 0 !important;
  height: 500px;
  max-height: 500px;
}

.cinemasystem .infor-theater-system {
  max-height: 500px;
  width: 92px;
  float: left;
  border: 1px solid #ebebec;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: block !important;
  overflow-y: hidden;
}
.cinemasystem .infor-theater-system:hover {
  overflow-y: auto;
}
.cinemasystem img {
  width: 50px;
}
.cinemasystem .infor-theater-system li {
  padding: 20px;
  position: relative;
  cursor: pointer;
  display: block;
  opacity: 0.5;
}
.cinemasystem .infor-theater-system li:hover {
  opacity: 1;
}
.cinemasystem .infor-theater-system li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}
.cinemasystem .detail-theater-system {
  max-height: 500px;
  border-top: 1px solid #ebebec;
  border-bottom: 1px solid #ebebec;
  width: 30%;
  overflow-y: hidden;
  height: 500px;
}
.cinemasystem .detail-theater-system:hover {
  overflow-y: auto;
}
.detail-theater-system-children {
  padding: 20px;
  padding-left: 20px;
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
  display: flex;
}
.detail-theater-system-children:hover {
  opacity: 1;
}
.detail-theater-system-children::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}
.wrapinfor-children {
  padding-left: 10px;
}
.wrapinfor-children span {
  display: block;
}

.detail-showtime-for-theater-system {
  float: left;
  max-height: 500px;
  width: calc(100% - 30% - 92px);
  border: 1px solid #ebebec;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  overflow-y: hidden;
  height: 500px;
}
.detail-showtime-for-theater-system:hover {
  overflow-y: auto;
}
/* active logo*/
.active-logo-theatersystem {
  opacity: 1 !important;
}
.wrapinfor-children {
  display: block;
  width: 250px;
}
.wrapinfor-children .style-span-cluster {
  font-size: 14px;
  color: red;
}
.wrapinfor-children .style-span-address {
  font-size: 12px;
  color: #949494;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*style scroll*/
.infor-theater-system::-webkit-scrollbar {
  width: 4px;
  background-color: #e3e7e8;
  opacity: 1;
}
.infor-theater-system::-webkit-scrollbar-thumb {
  box-shadow: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.detail-theater-system::-webkit-scrollbar {
  width: 4px;
  background-color: #e3e7e8;
  opacity: 1;
}
.detail-theater-system::-webkit-scrollbar-thumb {
  box-shadow: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.detail-showtime-for-theater-system::-webkit-scrollbar {
  width: 4px;
  background-color: #e3e7e8;
  opacity: 1;
}
.detail-showtime-for-theater-system::-webkit-scrollbar-thumb {
  box-shadow: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*style film */
.detail-showtime-for-theater-system .info-film-datetime-hourtime {
  padding: 20px;
  display: flex;

  border-bottom: 1px solid #ebebec61;
}
.detail-showtime-for-theater-system .info-film-datetime-hourtime:hover {
  border-bottom: 1px solid #ebebec;
  cursor: pointer;
}
.detail-showtime-for-theater-system .namefilm-showtime {
  margin-left: 20px;
}
.info-film-datetime-hourtime img {
  width: 50px;
  height: 50px;
}
.datetime-for-theatersystem {
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #e4e4e4;
  margin-bottom: 5px;
  color: green;
  transition: all 0.3s;
}
.datetime-for-theatersystem:hover {
  border-radius: 15px;
  color: #fb4226;
  cursor: pointer;
  transition: all 0.5s;
}

.hour-for-theatersystem {
  color: orange;
  background-color: #ebebec5e;
  border-radius: 15px;
  margin-bottom: 5px;
}
.hour-for-theatersystem:hover {
  border-radius: 15px;
  color: #fb4226;
  cursor: pointer;
  transition: all 0.5s;
}
/*resbonsive*/
@media screen and (max-width: 1224px) {
  .detail-theater-system {
    width: 40% !important;
  }
  .detail-showtime-for-theater-system {
    width: calc(100% - 40% - 92px);
  }
}

@media screen and (max-width: 1024px) {
  .detail-theater-system {
    width: 45% !important;
  }
  .detail-showtime-for-theater-system {
    width: calc(100% - 45% - 92px);
  }
}
@media screen and (max-width: 768px) {
  .detail-theater-system {
    width: 55% !important;
  }
  .detail-showtime-for-theater-system {
    width: calc(100% - 55% - 92px);
  }
}
@media screen and (max-width: 480px) {
  .cinemasystem {
    display: none;
  }
}
