.detail-movie {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow: hidden !important;
  position: relative;
}

.margin-top-100px {
  margin-top: 100px !important;
}
.img-width-height {
  height: auto;
  width: 100%;
  max-width: 250px;
}

.detail-box-movie {
  position: relative;
  align-items: center;
  justify-items: center;
}
.content-movie-detail {
  height: 250px;
  position: absolute;
  top: 60px;
  left: -60px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}
.content-infomation-movie {
  padding: 20px;
  color: #fff;
}
.hover-caption:hover .content-movie-detail {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}
.p-white {
  color: white;
}

.span-style {
  display: block;
}
.span-style-title-film {
  color: orange;
}
.cloud-img img {
  width: 100%;
  height: 400px;
}
.animation-cloud1 {
  position: absolute;
  top: 5%;
  animation: cloudOne infinite 30s linear;
}
.animation-cloud2 {
  position: absolute;
  left: 20%;
  top: 20%;
  animation: cloudTwo infinite 15s linear;
}

.animation-cloud3 {
  position: absolute;
  left: 20%;
  top: 40%;
  animation: cloudThree infinite 20s linear;
}

.animation-cloud4 {
  position: absolute;
  left: 35%;
  top: 50%;
  animation: cloudFor infinite 20s linear;
}
.padding-top-bottom-100 {
  padding: 10px 0 10px 0;
  background: #bdc3c7;
  background: linear-gradient(to top, #bdc3c78c, #2c3e5085);
}
.bookticket-movie {
  border: 1px solid #ebebec;
  border-radius: 5px;
  padding: 20px;
  max-height: 200px;
  overflow-y: hidden;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.bookticket-movie::-webkit-scrollbar {
  width: 4px;
  background-color: #e3e7e8;
  opacity: 1;
}
.bookticket-movie::-webkit-scrollbar-thumb {
  box-shadow: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.bookticket-movie:hover {
  overflow-y: auto;
}
.bookticket-movie .cluster-for-detail {
  border: 1px solid #ebebec;
  border-radius: 5px;
  background-color: #e00d7a;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}
.bookticket-movie .cluster-for-detail:hover {
  transition: all 0.5s;
  background-color: orange;
}
.bookticket-movie .listshowtime-for-detail {
  border: 1px solid #ebebec;
  border-radius: 5px;
  cursor: pointer;
  background: #fecf06;
  color: black;
}
.bookticket-movie .listshowtime-for-detail:hover {
  transition: all 0.5s;
  color: #fff;
}
.bookticket-movie .listhour-for-detail {
  border: 1px solid #ebebec;
  border-radius: 5px;
  cursor: pointer;
  color: green;
}
.bookticket-movie .listhour-for-detail:hover {
  transition: all 0.5s;
  background-color: orange;
  color: #fff;
}
/*modal*/
.modal-body {
  padding: 0 !important;
}
.modal-dialog {
  top: 10%;
}
.modal-content {
  background: none !important;
  border: none !important;
}
.modal-header {
  padding: 0;
}
.video-detail-movie button {
  color: #fff !important;
  background-color: #e00d7a !important;
  border: #e00d7a !important;
}
@keyframes cloudOne {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloudTwo {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloudThree {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloudFor {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.myiframe {
  max-height: 300px !important;
  height: 300px !important;
}

@media screen and (min-width: 1168px) {
  .myiframe {
    max-height: 400px !important;
    height: 400px !important;
  }
  .button-watch-movie {
    margin-left: 13px;
    font-size: 14px;

    background: orange;
    color: white;
    border: 2px solid orange;
  }
  .button-watch-movie .fa {
    margin-left: 5px;
  }
}
@media screen and (max-width: 767px) {
  .modal-dialog {
    top: 20%;
  }
  .cloud-img {
    display: none;
  }
  .detail-movie {
    height: auto;

    background-image: unset !important;
  }
  .margin-top-100px {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 550px) {
  .img-width-height {
    width: 250px !important;
    height: 315px !important;
  }
  .content-movie-detail {
    left: 0 !important;
  }
}

@media screen and (max-width: 400px) {
  .img-width-height {
    width: 210px !important;
    height: 315px !important;
  }
  .button-watch-movie {
    font-size: 12px;
  }
  .button-watch-movie .fa {
    margin-left: 3px;
  }
}

@media screen and (max-width: 350px) {
  .button-watch-movie {
    font-size: 12px;
  }
  .button-watch-movie .fa {
    margin-left: 3px;
  }
  .img-width-height {
    width: 175px !important;
    height: 315px !important;
  }
}
